body {
  width: auto;
  height: auto;
}
#tag-list {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
#tag-list li {
  display: inline;
  font-weight: bold;
}

#discription {
}

#location {
}
