#search_icon{
    filter : opacity(0.5) drop-shadow(0 0 0 #145877);
    width : 25px;
}

  body {
    /* margin 0 페이지 맞춤 */   
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 90vh;
    /* vh는 viewpoint height -> 90으로 설정하여 중간보다 조금 위에 검색창 위치시킴 */
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* 위의 세 줄을 통해 검색창을 가운데에 위치시킴 */

    background-image:url(asset/임시배경.png);
    background-repeat : no-repeat;
    background-attachment: fixed;
    background-size:80%
  }

   .search_space {
    width: fit-content;
    height: fit-content;
    position: relative;
    /*
      포지션 relative 주면, 자식 태그중에 absolute 있을 때
      버튼이랑 입력 창같은거 겹치게 할 수 있음
    */
  } 

  .search_text {
    height: 50px;
    width: 50px;
    outline: none;
  }

  .search_button {
    width: 58px;
    height: 55px;
    position:absolute;
    /* absoulte 넣어서 입력 양식에 버튼이 안밀려난다. */
    border-style: none;
    right: 0px;
    /* absoulte 로 안밀려나게 하고서 오른쪽으로 붙인다. */
    background-color:#22a6b3;
  }

  .search_button:focus ~ .search_text{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;    
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /* 버튼이 눌리면 입력창 확대 */

  .search_text:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /* 입력창이 만약 눌리면 그거 확대 */

  .search_button:focus{
    background-color: transparent;
  }
  /* 버튼 눌리면 배경 투명해지는거 */
