<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link rel="stylesheet" href="styles/style.css" />
  <script src="scripts/onLoad.js"></script>
  <script src="../search_page/scripts/repository/PlaceMemoryRepository.js"></script>

  <body>
    <div class="header">HY-std::in</div>

    <div class="main">
      <h1>노영백 라운지</h1>
      <p>📍 한양대학교 제1공학관 1층</p>

      <div id="tags">
        <span id="t">#afsd</span>
        <span id="t">#afsd</span>
        <span id="t">#afsd</span>
        <span id="t">#afsd</span>
        <span id="t">#afsd</span>
      </div>

      <!-- 얘네 좌우 사이즈에 맞게 키우는 방법? inner width에 맞게 -->
      <div class="nav_wrapper">
        <ul id="nav_area">
          <li><a href="#img">공간소개</a></li>
          <li><a href="#d1">시설안내</a></li>
          <li><a href="#d2">유의사항</a></li>
          <li><a href="#d3">Q&A/후기</a></li>
        </ul>
      </div>

      <div class="image"><img id="img" src="../images/holmz1.jpg" /><br /></div>

      <div class="description">
        <div id="d1">
          <div id="first">
            <h3>공간소개</h3>
            <p id="line">
              노영백 라운지는 아늑하고 쾌적한 환경에서 편안하게 작업이나 공부에
              집중할 수 있는 공간입니다.<br /><br />
              1. 취침 가능 (매트리스 / 소파 마련) <br />2. 예약 없이 자유롭게
              이용 가능 <br />3. 간단한 수다 가능
            </p>
          </div>
        </div>
        <div id="d2">
          <div id="first">
            <h3>시설안내</h3>
            <p id="line">
              노영백 라운지는 아늑하고 쾌적한 환경에서 편안하게 작업이나 공부에
              집중할 수 있는 공간입니다.<br /><br />
              1. 취침 가능 (쇼파 마련)
            </p>
          </div>
        </div>
        <div id="d3">
          <div id="first">
            <h3>유의사항</h3>
            <p id="line">
              노영백 라운지는 아늑하고 쾌적한 환경에서 편안하게 작업이나 공부에
              집중할 수 있는 공간입니다.
            </p>
          </div>
        </div>
        <div id="d4">
          <div id="first">
            <h3>Q&A/후기</h3>
            <p id="line">
              노영백 라운지는 아늑하고 쾌적한 환경에서 편안하게 작업이나 공부에
              집중할 수 있는 공간입니다.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="recommends">
      <div class="rec1">
        <div class="postIts">
          <h1>이순규 라운지</h1>
          <p id="p1">📍 한양대학교 중앙도서관 1층 (입구에서 왼쪽)</p>
          <hr id="line" />
          <br />
          <img id="img1" src="../images/holmz1.jpg" />
          <p id="p1">#tags</p>
          <a href="#" class="button btnFade btnLightBlue">자세히 보기</a>
        </div>
      </div>
      <div class="rec2">
        <div class="postIts">
          <h1>이종훈 라운지</h1>
          <p id="p1">📍 한양대학교 중앙도서관 1층 (입구에서 오른쪽)</p>
          <hr id="line" />
          <br />
          <img id="img1" src="../images/holmz1.jpg" />
          <p id="p1">#tags</p>
          <a href="#" class="button btnFade btnLightBlue">자세히 보기</a>
        </div>
      </div>
      <div class="rec3">
        <div class="postIts">
          <h1>이종훈 라운지</h1>
          <p id="p1">📍 한양대학교 중앙도서관 1층 (입구에서 오른쪽)</p>
          <hr id="line" />
          <br />
          <img id="img1" src="../images/holmz1.jpg" />
          <p id="p1">#tags</p>
          <a href="#" class="button btnFade btnLightBlue">자세히 보기</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>
        HY-std::in<br />Copyright (c) 2023 Hanyang University. ALL RIGHTS
        RESERVED.
      </p>
    </div>
  </body>
</html>
