<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link rel="stylesheet" href="styles/style.css" />
  <script src="scripts/onLoad.js"></script>
  <script src="../search_page/scripts/repository/PlaceMemoryRepository.js"></script>
  <script src="scripts/service/htmlLoadService.js"></script>

  <body>
    <div class="header"><a href="../index.html">HY-std::in</a></div>

    <div class="main">
      <h1 id="title"></h1>
      <p id="location"></p>

      <div id="tags"></div>

      <!-- 얘네 좌우 사이즈에 맞게 키우는 방법? inner width에 맞게 -->
      <div class="nav_wrapper">
        <ul id="nav_area">
          <li><a href="#img">공간소개</a></li>
          <li><a href="#d1">시설안내</a></li>
          <li><a href="#d2">유의사항</a></li>
          <li><a href="#d3">Q&A/후기</a></li>
        </ul>
      </div>

      <div id="image"><img id="img" src="../images/holmz1.jpg" /><br /></div>

      <div id="introduce">
        <div id="d1">
          <div id="first">
            <h3>공간소개</h3>
            <p id="line"></p>
          </div>
        </div>
      </div>

      <div id="information">
        <div id="d2">
          <div id="first">
            <h3>시설안내</h3>
            <p id="line"></p>
          </div>
        </div>
      </div>

      <div id="notice">
        <div id="d3">
          <div id="first">
            <h3>유의사항</h3>
            <p id="line"></p>
          </div>
        </div>
      </div>

      <div id="review">
        <div id="d4">
          <div id="first">
            <h3>Q&A/후기</h3>
            <p id="line"></p>
          </div>
        </div>
      </div>
    </div>

    <div id="recommends">
      <div id="rec1">
        <div class="postIts">
          <h1></h1>
          <div id="recommendsLocation">
            <p id="p1"></p>
          </div>
          <hr id="line" />
          <img id="img1" src="../images/holmz1.jpg" />
          <div id="recommendsTags"><p id="p1"></p></div>
          <a href="" class="button btnFade btnLightBlue">자세히 보기</a>
        </div>
      </div>
      <div id="rec2">
        <div class="postIts">
          <h1></h1>
          <div id="recommendsLocation">
            <p id="p1"></p>
          </div>
          <hr id="line" />
          <img id="img1" src="../images/holmz1.jpg" />
          <div id="recommendsTags"><p id="p1"></p></div>
          <a href="" class="button btnFade btnLightBlue">자세히 보기</a>
        </div>
      </div>
      <div id="rec3">
        <div class="postIts">
          <h1></h1>
          <div id="recommendsLocation">
            <p id="p1"></p>
          </div>
          <hr id="line" />
          <img id="img1" src="../images/holmz1.jpg" />
          <div id="recommendsTags"><p id="p1"></p></div>
          <a href="" class="button btnFade btnLightBlue">자세히 보기</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>
        HY-std::in<br />Copyright (c) 2023 Hanyang University. ALL RIGHTS
        RESERVED.
      </p>
    </div>
  </body>
</html>
