body {
  background-image: url(../images/hanyang.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#title {
  position: relative;
  text-align: center;
  margin-top: 35vh;
}

#title > h1 {
  font-size: 50pt;
  color: rgb(108, 171, 232);
}

#search_space {
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  height: fit-content;
  position: relative;
  /*
      포지션 relative 주면, 자식 태그중에 absolute 있을 때
      버튼이랑 입력 창같은거 겹치게 할 수 있음
    */
}

#search_text {
  top: 30vh;
  height: 50px;
  width: 50px;
  outline: none;
  visibility: hidden;
  border-radius: 30px;
  border-style: none;
  transition: all 500ms ease-in-out;
}

#search_button {
  width: 58px;
  height: 55px;
  position: absolute;
  /* absoulte 넣어서 입력 양식에 버튼이 안밀려난다. */
  border-radius: 30px;
  right: 0px;
  border-style: none;
  /* absoulte 로 안밀려나게 하고서 오른쪽으로 붙인다. */
  background-color: rgb(108, 171, 232);
}

#search_text:focus,
#search_button:focus ~ #search_text {
  padding: 2px 20px;
  height: 50px;
  width: 520px;
  border-radius: 30px;
  visibility: visible;
  background-color: #e2e2e2;
  border-style: none;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* 버튼이 눌리면 입력창 확대 */
/* transition 으로 애니메이션 넣는다. 부드럽게 움직이려고 cubic-bezier 쓰는듯 */
#search_button:focus {
  background-color: transparent !important;
}
/* 버튼 눌리면 배경 투명해지는거 */
